*, *::before, *::after{
  `box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}
html:focus-within{
  scroll-behavior: smooth;
}
img, picture, svg, video, canvas{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}
input, button, textarea, select{
  font: inherit;
}
body, html{
  height: 100%;
  scroll-behavior: smooth;
}
.left-sidebar{
  width: 60px; 
  height: 100vh;
  border-right: 1px solid grey;
  display: inline-flex;
}
.main-content{
  display: inline-flex;
}
